<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
    <script src="{{url_for('static', filename='js/jquery.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
    {% block title %} {%endblock%}
</head>
<body>
     <!-- Fixed navbar -->
     <nav class="navbar navbar-inverse ">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{url_for('index')}}">PORTAL</a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active " id="indexHome"><a href="{{url_for('index')}}">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li id="started" ><a href="{{url_for('student_form')}}" >Get Started</a></li>
              </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
  
    {% block content %} {%endblock%}
        <footer class="footer">
            <div class="container">
              <p >&copy;2021 -Olalekan All Right Reserved</p>
            </div>
         
    </footer>
    
</body>
</html>